{% extends 'base.html.twig' %}

{% block title %}New Note{% endblock %}

{% block body %}
<h1 class="mb-3">New Note</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mt-2">Save</button>
{% endblock %}
